
.bottom-nav { 
  margin: auto;
  float: left;
  // position: absolute;
  // left: 0px;
  // right: 0px;
}

.console { 
  list-style-type: none; 
  // width: 800px;
  height: 15em; 
  // background-color: #282828;
  // color: gray;

  background-color: black;
  color: green;
  border: 0.25em aliceblue ridge;
  margin-top: 7em; 
  // border-bottom: 0.25em aliceblue ridge;
  // border-right: 0.25em aliceblue ridge;
  // border-left: 0.25em aliceblue ridge;

}