.bottom-nav {
  margin: auto;
  float: left; }

.console {
  list-style-type: none;
  height: 15em;
  background-color: #282828;
  color: lightgreen;
  border: 0.25em aliceblue ridge;
  margin-top: 7em; }
