#Explosives {
  font: Orbitron, sans-serif; }

#Explosives div span {
  padding-left: 6em;
  font-size: xx-large; }

#Explosives .left {
  width: 15em;
  float: left;
  font-size: large; }

#Explosives .right {
  width: 15em;
  float: left;
  font-size: large; }

.closeExplosives {
  float: right; }
