$background-color: #303030;
$font-stack: Orbitron, sans-serif;
$width: 800px;
$height: 600px;

.hidden { 
  display: none;
 }

 body { 
   background-color: #282828;
 }

.game-body {
  //background: $background-color; 
}
.mainWindow {
  height: 100%; 
  //color: green;
  //background: $background-color;
}
.gamePanel {
  height: $height;
  width: $width;
  float: left;

  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  //border-bottom: 1px solid;
}

// .gamePanelCenter1 {
//   position: absolute;
//   left: 50%;  
// }

// .gamePanelCenter2 {
//   position: relative; 
//   left: -50%; 
// }

dialog {
  //position: fixed;
  background-color: black;
  color: green;
  border-style: ridge;
  opacity: 1;
  width: $width;
  height: $height;
  //top: 11%;
  // margin-left: 13.5em;
  // margin-right: 0em;
}
 
.top-nav {
  float: left;
  height: 2em;
  color: gray;

  //border-left: 1px solid;
  //border-top: 1px solid;
  //border-bottom: 1px solid;
  //border-right: 1px solid;
}
.top-spacer {
  width:100%;
  height: 2em;
}

.Name {
  float: left;
  font-family: Orbitron, sans-serif;
  font-size: x-large;
  height:1.2em;
  width: 100%;
}
.UIIcons {
  float: left;        
  position: absolute;
  left: 50em;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10em;    
}
   
.top-nav-items {
  //padding-left: 26em;
  //padding-top: 0.5em;
}

.sidebar-left {  
  font-family: Orbitron, sans-serif;
  float: left;
  width: 12em;
  height: 40em;
  color: gray;
  position: absolute;
  left: 0;
  right: 63em;
  margin-left: auto;
  margin-right: auto;
  // background-color: black;
  //border: 1px solid;
}

.fa {
  // width: 2em;
}

.fa-5 {
    font-size: 12em;
}
.fa-4 {
    font-size: 7em;
}
.fa-3 {
    font-size: 4em;
}

.sidebar-padding {
  padding-left:2em;
}

.sidebar-left .consumables {
  margin-top: 1em;
  margin-bottom: 1em;
}

//.sidebar-right {
//  float: left;
//  width: 150px;
//  height: 600px;
//  color: gray;
//  //border: 1px solid;
//}

.bottom-nav {
  float: left;
  height: 5em;
  width: 100%;
  color:gray;
  //border: 1px solid;
}

.bottom-nav .Talents {
  width: 400px;
  float: left;
}

.inputName {
  width: 75px;
}



.ulPlayerList {
  list-style-type: none;
}



.instructionIcons {
  background: $background-color;
}

//.Instructions {
//  background: black;
//}

.centerpoint {
  top: 50%;
  left: 50%;
  position: absolute;
}

img {
  height: 2em;
  width: 2em;

  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}


