$background-color: #303030;
$font-stack: Orbitron, sans-serif;

#Profile {
  font-family: $font-stack;
}

.ProfileText {
  font-size: xx-large;
}

#Profile .left {
  width: 13em;
  float: left;
  font-size: large;
}

#Profile .right {
  width: 18em;
  float: left;
  font-size: large;
}

.closeProfile {
  float:right;
}
.profileImg {
  height: 4em;
  width: 4em;
}

