@import "changelog.scss";

body {
  //height: 800px;
  //width: 50em;
  //margin: 0px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //background-color: #303030;
  //flex-wrap: wrap;
}

footer {
  height:200px;
}

a {
  color: black;
  text-decoration: none;
}
